body{
	background: #E6E6FA ;
}
.slider {
	width: 70%;
	margin: 100px;
	color: black;
}
.slick-prev:before,
.slick-next:before {
	color: black;
}

.nav-wrapper{
	background: #4169e1;
}


.page-footer{
	background: #4169e1;
}

p{
	color: #000000 ;
	font-size: 15px;
	font-family: comic sans ms;
}

.card-content{
	background: #4169e1;
	
}
.test{
	color: white;
}

.text p{
	font-size: 20px;
}

.text {
	padding-right: 100px;
	padding-left: 100px;
}